body {
    font-family: 'Comic Sans MS', 'Arial', sans-serif;
    background: linear-gradient(135deg, #ce3636, #d2dd32);
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#caixa-texto {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%; 
    width: 100%;
    word-wrap: break-word;
}    

p {
    background: #fff;
    color: #333;
    padding: 20px 30px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    line-height: 1.5;
    margin-bottom: 20px;
}

#button-container {
    position: fixed;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

button {
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(45deg, #ebdf3d, #e70b0b);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.3s;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

button:hover {
    transform: translateY(-5px);
    background: linear-gradient(45deg, #ce4318, #f06306);
}

